<ol class="breadcrumb">
  <li><a href="#/"><span ng-bind="'home' | translate"></span></a></li>
  <li><a href="#/facet"><span ng-bind="'browse by facet' | translate"></span></a></li>
  <li><a href="#/facet/{{results.facet.facet.facetParam}}" ng-bind="results.facet.facet.facetLegend"></a></li>
  <li><a href="#/facet/{{results.facet.facet.facetParam}}/{{results.facet.currentFacet.identifier}}" ng-bind="results.facet.currentFacet.name || results.facet.keyword"></a></li>
</ol>

<section id="viewHeader">
	<div class="page-header">
		<h1><span ng-bind="results.facet.currentFacet.name || results.facet.keyword"></span> <small ng-bind="'Browse by ' + results.facet.facet.facetLegend"></small></h1>
		
		<section ng-show="results.facet.provider">
			<dl class="dl-horizontal">
				<dt><span ng-bind="'taxonomy' | translate"></span></dt>
				<dd ng-bind="results.facet.provider.taxonomy"></dd>
				<dt><span ng-bind="'source' | translate"></span></dt>
				<dd ><a ng-href="results.facet.provider.uri" target="_blank" ng-bind="results.facet.provider.uri"></a></dd>
			</dl>
		</section>
		
		<section ng-show="results.facet.uri">
			<dl class="dl-horizontal">
				<dt><span ng-bind="'source' | translate"></span></dt>
				<dd ><a ng-href="results.facet.uri" target="_blank" ng-bind="results.facet.uri"></a></dd>
			</dl>
		</section>
		
		<section ng-show="results.facet.type">
			<dl class="dl-horizontal">
				<dt><span ng-bind="'type' | translate"></span></dt>
				<dd ng-bind="results.facet.type"></dd>
			</dl>
		</section>
		
		<section ng-show="results.facet.contact">
			<dl class="dl-horizontal">
				<dt><span ng-bind="'contact' | translate"></span></dt>
				<dd ng-bind="results.facet.contact"></dd>
			</dl>
		</section>
		
		
		<p><span ng-bind="'tools from' | translate"></span> <span ng-bind="ui.parameters.start + 1"></span> <span ng-bind="'to' | translate"></span> <span ng-bind="ui.parameters.limit + ui.parameters.start" ng-show="ui.parameters.total > 20"></span><span ng-bind="ui.parameters.total" ng-show="ui.parameters.total < 20"></span> <span ng-bind="'on' | translate"></span> <span ng-bind="ui.parameters.total"></span> <span ng-bind="'available' | translate"></span></p>
		
	</div>
</section>
<section id="viewContent" ng-show="results.items">
	<hr />
        <div class="row" ng-show="ui.pages.total > 1">
		<pagination total-items="ui.parameters.total" items-per-page="ui.pages.itemPerPage" page="ui.pages.current" max-size="5" class="pagination-small" boundary-links="true" rotate="false" on-select-page="ui.pages.change(page)" num-pages="ui.pages.total"></pagination>
	</div>
	<section class="itemList" items="results.items"></section>
	<div class="row" ng-show="ui.pages.total > 1">
		<pagination total-items="ui.parameters.total" items-per-page="ui.pages.itemPerPage" page="ui.pages.current" max-size="5" class="pagination-small" boundary-links="true" rotate="false" on-select-page="ui.pages.change(page)" num-pages="ui.pages.total"></pagination>
	</div>
</section>